# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- List popular languages for Data Science
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools

### Some of the popular languages that Data Scientists use are :
1. Python
2. R 
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ------------------- |
|1. Pandas|
|2. Scrapy|
|3. Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
## This a simple arithmetic expression to mutiply then add integers

print ((3*4)+5)

17

In [3]:
## This will convert 200 minutes to hours by diving by 60

z = (200/60)
print ("Minutes converted to hours:", z)

Minutes converted to hours: 3.3333333333333335

 ## Author 
Barath